[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "==2.27.1"
behave = "==1.2.6"
allure-behave = "==2.9.45"
python-dotenv = "==0.20.0"
jsonpath-ng = "==1.5.3"
boto3 = "==1.23.8"
faker = "==15.1.1"
functions = "*"
when = "*"

[dev-packages]

[requires]
python_version = "3.10"
